  <div class="header-table">
    <div (click)="showTab = 'overview'" [ngClass]="{'active-item' : showTab === 'overview'}" class="small-cell-churn-3" style="border-right: 1px solid #f3f3f3; border-radius: 7px 0 0 7px;">
      OVERVIEW
    </div>
    <div (click)="showTab = 'ORIGIN'" [ngClass]="{'active-item' : showTab === 'ORIGIN'}" class="small-cell-churn-3" style="border-right: 1px solid #f3f3f3;">
      USER ORIGIN BASIS
    </div>
    <div (click)="showTab = 'BEHAVIOR'" [ngClass]="{'active-item' : showTab === 'BEHAVIOR'}" class="small-cell-churn-3" style="border-radius: 0 7px 7px 0;">
      USER BEHAVIOR BASIS
    </div>
  </div>

  <performance-analysis-overview *ngIf="showTab === 'overview'"></performance-analysis-overview>

  <performance-analysis-user-origin-basis *ngIf="showTab === 'ORIGIN'"></performance-analysis-user-origin-basis>
  <performance-analysis-user-behavior-basis *ngIf="showTab === 'BEHAVIOR'"></performance-analysis-user-behavior-basis>

