<div class="container">
  <div class="row" style="margin: 0; padding-left: 15px; padding-right: 15px;">
    <div class="main-caption">
      NOTIFICATIONS PEFORMACE
    </div>
    <div class="box-wrapper-top">
      <!-- <div class="user-active">
        <span>
          Revenue Overview
        </span>
      </div> -->
      <div class="container-risk">
        <div class="box" style="border-radius: 10px 0 0 10px; border-right: none;">
          <div class="caption-risk" style="">
            Total Notifications Sent
          </div>
          <span class="users" style="">
            <!-- <i class="fas fa-rupee-sign"></i> -->
            <!-- ₹  -->
            49,17,6050
          </span>
        </div>
        <div class="box" style="border-right: none;">
          <div class="caption-risk">
            Total Notifications Opened
          </div>
          <span class="users">
            46,719
          </span>
        </div>
        <div class="box" style="border-right: none;">
          <div class="caption-risk" style="text-align: center;">
            Total Number of Users Notifications were sent to:
          </div>
          <span class="users">
            69,147
          </span>
      </div>
      <div class="box" style="border-radius: 0 10px 10px 0;">
        <div class="caption-risk" style="text-align: center;">
          Total Number of Users who opened Notifications:
        </div>
        <span class="users">
          69,147
        </span>
      </div>
    </div>
    <div class="box-wrapper-top">
      <!-- <div class="user-active">
          <span>
            Purchases Overview
          </span>
      </div> -->
      <div class="container-risk" style="margin-bottom: 30px;">
        <div class="box" style="border-radius: 10px 0 0 10px;border-right: none;">
          <div class="caption-risk" style="">
            Avg number of notifications opened per user 
          </div>
          <span class="users">
              22.918
            </span>
        </div>
        <div class="box" style="border-right: none;">
          <div class="caption-risk" style="text-align: center;">
            Avg number of notifications sent per user 
          </div>
          <span class="users">
              262
            </span>
        </div>
        <div class="box" style="border-right: 0;">
          <div class="caption-risk" style="text-align: center;">
            Avg number of notifications opened per churner 
          </div>
          <span class="users">
              314
            </span>
        </div>
        <div class="box" style="border-radius:0 10px 10px 0;">
          <div class="caption-risk" style="text-align: center;">
            Avg number of notifications opened per churner 
          </div>
          <span class="users">
              <!-- ₹  -->
              51,761
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">

    <div class="row">
      <div class="col-sm-6">
        <chart-switcher *ngIf="engagement" [title]="'Notifications Sent per Churn vs Not Churn'" [data]="engagement"></chart-switcher>
      </div>
      <div class="col-sm-6">
        <chart-switcher *ngIf="engagement" [title]="'Open and Sent Comparision Per Category'" [data]="engagement"></chart-switcher>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12">
      <chart-switcher *ngIf="engagement" [title]="'User Response to notifications over churn period'" [optionsSettings]="lineOption" [data]="engagement"></chart-switcher>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <chart-switcher *ngIf="engagement" [title]="'Distribution of Notifications Sent per user category'" [data]="engagement"></chart-switcher>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <chart-switcher *ngIf="engagement" [title]="'Open vs Not Opened per segment'" [data]="engagement"></chart-switcher>
    </div>
  </div>
<!--User Response to notifications over churn period-->
  <!--Distribution of Notifications Sent per user category-->
  <!--Open vs Not Opened per segment-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<chart-switcher-smart-price [chartsValue]="charts" [title]="'Geogrphy of Revenue'"></chart-switcher-smart-price>-->

      <!--</div>-->
      <!--<div class="col-sm-6">-->
        <!--<chart-switcher-smart-price [chartsValue]="charts" [title]="'Revenue Visualisation by Level'"></chart-switcher-smart-price>-->

      <!--</div>-->
    <!--</div>-->



    <!--<div class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<chart-switcher-smart-price [chartsValue]="charts" [title]="'Sink and Source for Currency per Level'"></chart-switcher-smart-price>-->

      <!--</div>-->
      <!--<div class="col-sm-6">-->
        <!--<chart-switcher-smart-price [chartsValue]="charts" [title]="'Level Revenue Visualisation'"></chart-switcher-smart-price>-->

      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<chart-switcher-smart-price [chartsValue]="charts" [title]="'Affluence Revenue'"></chart-switcher-smart-price>-->

      <!--</div>-->
    <!--</div>-->


</div>
 
<div class="container">
  <div class="row" style="flex-flow:column; margin: 0;">
   <div class="table-bot">
    <div class="header row-table-bot">
      <div style="width: 17%; border-left: none;">
        <div>
          Notification Title
        </div>
      </div>
      <div style="width: 24%;">
        <div>
          Notification Template ID
        </div>
      </div>
      <div style="width: 24%;">
        <div>
          Segments Targeted
        </div>
      </div>
      <div style="width: 11%;">
        <div>
          Open Rate
        </div>
      </div>
      <div style="width: 24%;">
        <div>
          Reach per Week
        </div>
      </div>
    </div>
    <div class="row-table-bot">
      <div style="width: 17%; border-left: none;">
        <div>
          Good Morning
        </div>
        <i _ngcontent-c13="" class="ion-stats-bars icon-position"></i>
      </div>
      <div style="width: 24%;">
        <div>
          not_00005
        </div>
      </div>
      <div style="width: 24%;">
        <div>
          High loylity
        </div>
      </div>
      <div style="width: 11%;">
        <div>
          60%
        </div>
      </div>
      <div style="width: 24%;">
        <div>
          125492
        </div>
      </div>
    </div>
    <div class="row-table-bot">
      <div style="width: 17%; border-left: none;">
        <div>
          We miss you
        </div>
        <i _ngcontent-c13="" class="ion-stats-bars icon-position"></i>
      </div>
      <div  style="width: 24%;">
        <div>
          not_00005
        </div>
      </div>
      <div  style="width: 24%;">
        <div>
          Low loylity
        </div>
      </div>
      <div  style="width: 11%;">
        <div>
          60%
        </div>
      </div>
      <div  style="width: 24%;">
        <div>
            222112
        </div>
      </div>
    </div>
   </div>
  </div>
</div>