.row-table-smart .row-table-item {
  height: 42px;
}

.system-wrap {
  margin-bottom: 12px;
}

.dropdown dropdown-smart-table {
  margin-bottom: 12px;
}




.header-table-smart .column .prise-range {
  & .max-range, & .min-range {
    height: 42px;
    line-height: 42px;
    padding-top: 0;
  }
}

.header-table-smart .column .range-header {
  height: 42px;
  line-height: 42px;
  padding-top: 0;
}


nb-card {
  transform: translate3d(0, 0, 0);
  max-height: none;
}
.rightposition {
  float: right;
  margin: 10px 0px;
}
.icon-setting {
  display: inline-block;
  padding: 0.375rem 0.75rem !important;
}
.dropdown,
.dropup,
.btn-group {
  margin-bottom: 1rem;
}
.setwidth {
  width: 25%;
}
.dropdownset {
  height: 200px;
  overflow: scroll;
  width: 25%;
}

nb-card-body {
  padding-top: 0;
}
