@import '../../../@theme/styles/themes';
@include nb-install-component() {
    ngx-chartjs-pie,
    ngx-chartjs-bar,
    ngx-chartjs-line,
    ngx-chartjs-multiple-xaxis,
    ngx-chartjs-bar-horizontal,
    ng2-smart-table,
    ngx-echarts-line,
    ngx-echarts-bar,
    ngx-echarts-pie,
    ngx-country-chart,
    ngx-chartjs-radar {
        display: block;
        height: 120%;
        width: 100%;
        /deep/ chart {
            display: block;
            height: 120%;
            width: 100%;
        }
    }
}

.select-items-wrap {
    position: absolute;
    z-index: 11;
    width: 300px;
    bottom: 42px;
    left: 37px;
}

.select-items {
    position: absolute;
    bottom: 1px;
    background: #d6d4d4;
    width: 91%;
    padding: 10px;
    z-index: 1;
}

.select-item {
    margin-top: 10px;
    padding-left: 5px;
}

.select-item:hover {
    color: white;
    background: #40dc7e;
    cursor: pointer;
}

.item-icon {
    cursor: pointer;
}

nb-card-footer {
    padding: 0;
    border-top: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container-risk {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-period {
    display: flex;
    text-align: left;
    justify-content: left;
}

.box {
    padding: 35px;
    border: 1px solid rgb(189, 189, 189);
    padding-bottom: 35px;
    padding-top: 7px;
}

.user-active {
    text-align: center;
    color: rgba(89, 89, 89, 1);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 13px;
}

.caption-risk {
    margin-bottom: 25px;
    font-size: 17px;
}

.users {
    font-size: 17px;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.lable {
    color: #8d8d8d;
    margin-right: 15px;
    font-size: 14px;
    padding-top: 5px;
}

.right-content-select {
    display: flex;
    justify-content: space-between;
}

.select-wrap {
    width: 100%;
    position: relative;
    background: white;
}

.select {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    outline: none;
    padding: 6px;
    color: #5f5f5f;
    font-size: 10px;
}

i {
    color: rgba(147, 147, 147, 1);
}

.dropdawn {
    top: 23px;
    background: white;
    z-index: 100;
    position: absolute;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.list-location {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 6px;
    color: #a6a6a6 !important;
    font-size: 11px;
    border-top: 1px solid #cdcdcd;
}

a:hover {
    background: rgb(247, 247, 247);
}

.page-button-wrap {
    display: flex;
    justify-content: space-between;
}

button {
    display: flex;
    background: none;
    border: none;
    outline: none;
    color: rgb(104, 104, 104);
    font-size: 18px;
    font-weight: 500;
}

span {}

.download-wrap {
    width: 155px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.select-download {
    background: rgba(74, 163, 223, 1);
    color: white;
    z-index: 3000;
    padding: 8px;
    padding-right: 20px;
    padding-left: 17px;
}

.dropdawn-download {
    background: none;
    top: 38px;
}

.list-download {
    border: 0;
    border-radius: 0;
    border-top: 0;
}

.small-chart-height {
    height: 300px;
}

.big-chart {
    height: 521px;
}

li {}

.download-button {
    border: 1px solid #ebebeb;
    border: 1px solid rgba(189, 189, 189, 1);
    border-top: 0;
    border-radius: 4px;
}

.ion-arrow-down-b {
    color: #949494;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -5px;
}

// .download-button:hover{
//     background: none;
// }
.label-top {
    font-size: 25px;
}

.list-location li a {
    cursor: pointer;
}

.dropdawn-wrap-outer {
    position: absolute;
    z-index: 10;
    right: 25px;
    top: 30px;
    width: 185px;
}

.column-data {
    height: 45px;
}

.table-smart {
    font-size: 11px !important;
}